@using EmaticsSwapiTest.ViewModels
@model FilmsViewModel
@{
    ViewData["Title"] = "Films List";
}

<table>
    <thead>
        <tr>
            <th>Episode Id</th>
            <th>Title</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FilmInfo film in Model.FilmsTable)
        {
            @using (Html.BeginForm("Index", "FilmDetails", new { FilmUrl = film.FilmUrl }, FormMethod.Post))
            {
                <tr onclick="location.href = '@Url.Action("Index", "FilmDetails", new { FilmUrl = film.FilmUrl })'">
                    <td>
                        @Html.DisplayFor(_ => film.EpisodeId)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => film.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => film.ReleaseDate)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>